#homepage-jumbotron {
  height: 200px;
  background-color: rgb(3, 115, 232);
  color: rgb(210, 210, 210);
}

#homepage-title {
  margin-top: 0px;
}

.form-control{
    width: 50%;
}

.centered-input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.horizontal-line {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #ddd !important;
  border: thin solid;
}

.actions-wrapper{
  padding-left: 0px;
  padding-right: 0px;
}
